:root {
    --deep-green: #009688;
    --bck-grey: #dcdbd3;
    --bck-cold-grey: #d2dbdc;
    --bck-light-grey: #fafafa;
    --light-blue: #8edafc;
    --msg-input: #f3eeea;
    --dark-icon: #6b7376;
    --light-icon: #b1b1b1;
    --header-grey: #eaeaea;

    --side-spacing: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

[class*="-header"] i{
    margin: 0 5px;
    font-size: 1.2rem;
    color: var(--light-icon);
}

.container {
    width: 100%;
    height: 100vh;
}

.back {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, var(--bck-grey) 20%, var(--bck-cold-grey) 100%);
}
.back::before {
    content: "";
    height: 150px;
    width: 100%;
    background-color: var(--deep-green);
    position: absolute;
}


/* CONTAINER */

.app-container {
    display: flex;
    width: 90%;
    height: 90%;
    margin: auto;
    z-index: 100;
}

/* LEFT SIDE */

/* HEADER */
.left-side-app {
    height: 100%;
    width: 30%;
    min-width: 250px;
    background-color: slateblue;
}

.left-header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid grey;
    background-color: var(--header-grey);
}

.user {
    display: flex;
    align-items: center;
    margin-left: var(--side-spacing);
}

.action {
    margin-right: var(--side-spacing);
}

/* INFO */

.info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: var(--light-blue);
}

.info .notification {
    display: flex;
    width: 50px;
    height: 50px;
    margin-left: var(--side-spacing);
    border-radius: 50%;
    background-color: white;
}
.info .notification > i {
    color: var(--light-blue);
    margin: auto;
    font-size: 2rem;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 65px);
    height: 100%;
    margin-left: var(--side-spacing);
}
.text > a {
    color: var(--dark-icon);
}

/* INPUT SEARCH */

.chat-search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border: 5px solid var(--bck-light-grey);
    background-color: white;
}
.chat-search > i {
    color: var(--light-icon);
    margin: 0 20px;
}

.chat-search__input {
    width: calc(100% - 2rem);
    height: 50%;
    border: none;
    outline: none;
}




.right-side-app {
    height: 100%;
    width: 70%;
    background-color: blue;
}